/* Put any styles you want here to override theme defaults*/
@import "theme-settings";

.tg  {border-collapse:collapse;border-spacing:0;}

.tg td{padding-top:10px;padding-left:10px;padding-right:10px;border-right-style:solid;border-width:1px;vertical-align:top;}

.tg td:first-child{border-style:none;border-width:0px;text-align:right;}

.dark-slides {
  background-color: #282936;
  data-background-color: #282936;
  color: #ffffff;
}

.dark-slides, 
.dark-slides h1, 
.dark-slides p, 
.dark-slides small, 
.dark-slides span, 
.dark-slides li {
  color: white !important;
}


.white-slides {
  background-color: #fff3f0;
  data-background-color: #fff3f0; 
  color: #282936;
}

.white-slides,
.white-slides h1,
.white-slides p,
.white-slides small,
.white-slides span,
.white-slides li {
  color: #282936 !important;
}

tmx {display:table;}
tu{display:table-row;}
tuv{display:table-cell; padding: 20px; border-right: solid; border-width: 0px 1px 0px 0px;}
tuv:last-child{border-style:none;}

prop{display:none;}
